<footer>
	<p>
		<a target="_blank" href="https://marcomonteiro.net">Marco Monteiro</a> &copy 2020 @ {{site.title}} | <a target="_blank" href="https://www.youtube.com/channel/UC9HQjernJPHN-RoKMwtYQ4w">Youtube</a> | <a href="https://www.patreon.com/tilthings" target="_blank">Patreon</a> | <a target="_blank" href="https://twitter.com/marcogmonteiro">@marcogmonteiro</a> | <a target="_blank" href="https://blog.marcomonteiro.net">Blog</a>
	</p>
</footer>
<script src='{{site.baseurl}}/assets/js/site.js' id="pill_site_script" type='module'></script>